{% extends "layout.html" %}
{% block title %} Spotify {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-4">
        <p> Tracks in database: {{ count }} </p>
    </div>

    <div class="col-8">
        <p><a href="/media">Search by IMDB id</a></p>
        <p><a href="/rating">Best movies / tv-shows</a></p>
        <p><a href="/choose">Choose a movie</a></p>
        <p><a href="/genres">Genres</a></p>
        <p><a href="/categories/subcategories">Categories</a></p>
        <p><a href="/actors">Actors</a></p>
        <p><a href="/directors">Directors</a></p>

    </div>
</div>
{% endblock %}
